/* CTA Section Styles */
#cta {
    padding: 50px 20px;
    background-color: #4d65ff;
    color: #fff;
    text-align: center;
}

.cta-content {
    max-width: 600px;
    margin: 0 auto;
}

#cta h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #fff;
    color: #0030dc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
    background-color: #e68a00;
    color: #fff;
}
