#features {
    text-align: center;
    padding: 50px 20px;
}

.feature-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 250px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border:0.5px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}
