/* Footer Styles */
footer {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 0.9rem;
  }
