#testimonials {
    padding: 50px 20px;
    background: linear-gradient(var(--secondary), var(--primary));
    color: var(--text);
    text-align: center;
  }
  
  #testimonials h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--text);
  }
  
  .testimonials-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .testimonial {
    background-color: 2px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
  }
  
  .testimonial p {
    font-size: 1rem;
    color: var(--text);
    margin-bottom: 15px;
  }
  
  .testimonial h4 {
    font-size: 1rem;
    color: black;
  }
  
  @media (max-width: 768px) {
    .testimonial {
      width: 100%;
      margin: 10px 0;
    }
  }